html {font-size: 16px;}

body{background: rgb(255, 255, 255);}

.web-title{
    margin-top: 2rem;
    margin-left: 3rem;
    color: rgb(61, 61, 59);
    font-size: 3rem;
}
.cards {
    margin: 1rem auto;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(5,230px);
    grid-row-gap: 2rem;
    grid-column-gap: 2.5rem;
}
.card{
    text-align: left;
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 200px;
    padding-bottom: 0.5rem;
    box-shadow: 5px 5px 8px burlywood,-5px -5px 8px rgb(228, 221, 212);
}

img{
    width:200px;
    height: auto;
    margin-bottom: 0.5rem;
    border-radius: 0.2rem;
}

.title {
    font-size: 1.3rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: rgb(36, 41, 41);
}

.author {
    font-size: 1rem;
    margin-bottom: 0.1rem;
    color: rgb(95, 95, 95);
}

.age {
    font-size: 1rem;
    margin-bottom: 0.3rem;
    color: rgb(95, 95, 95);
}

.price {
    font-size: 1.2rem;
    color: rgb(43, 42, 42);
}
span{color: rgb(145, 145, 145);}